@charset "UTF-8";

.btn {
  display: inline-block;
  appearance: none;
  border: 0;
  background: transparent;
}
.m-gnb-menu,
.btn-close {
  display: none;
}
.txt-orange {
  color: #715df0 !important;
}
.txt-white {
  color: #fff !important;
}
@media only screen and (max-width: 426px) {
  .m-block {
    display: block;
  }
}
.section .section-menu {
  font-size: 1.435rem;
  font-weight: 500;
  color: #ababab;
}
.section .section-title {
  margin-top: 1.5rem;
  font-size: 3.575rem;
  line-height: 4.6428rem;
  font-weight: 700;
  transition: all 1s;
}
.section .section-desc {
  margin-top: 2rem;
  font-size: 1.714rem;
  line-height: 2.857rem;
  color: #4d4d4d;
}
.inner-contents {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .inner-contents {
    padding: 0 2rem;
  }
}
.m-gnb-menu svg path {
  stroke: #fff;
}
.translate {
  position: relative;
  margin-left: 2rem;
}
.translate .btn {
  cursor: pointer;
  font-size: 1.285rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #fff;
}
.translate .btn i {
  color: #fff;
}
.translate .btn i:before {
  transition: all 0.5s;
}
.translate.show .btn i:before {
  transform: rotate(180deg);
}
.translate .menu {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 2rem;
  padding: 1rem 1.857rem;
  width: 12.1428rem;
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 0.715rem;
  opacity: 0;
}
.translate.show .menu {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
}
.translate li {
  padding: 0.7rem 0;
}
.translate li a {
  font-size: 1.2142rem;
  color: #b4b4b4;
}
.translate li.current a {
  color: #000;
  text-decoration: underline;
}

.logo a {
  display: block;
  width: 94px;
  height: 24px;
  background: url("../../img/img_logo.png") 0 0 no-repeat;
  background-size: contain;
  text-indent: -9999px;
  font-size: 0;
  transition: all 1s;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem 0;
  width: 100%;
  transition: all 0.5s;
  z-index: 900;
}
.active-container .header {
  background: #fff;
}
.header .inner-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gnb > ul {
  display: flex;
}
.gnb > ul li {
  margin: 0 1rem;
}
.gnb > ul li a {
  font-size: 1rem;
  color: #fff;
}

.shape01 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.shape02 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.section00 {
  background: radial-gradient(
      88.79% 88.79% at 50% 50%,
      rgba(0, 0, 0, 0) 5.03%,
      rgba(255, 153, 0, 0) 42.73%,
      rgba(143, 227, 222, 0.2) 100%
    )
    #000000;
  background-blend-mode: lighten, normal;
}
.section00 .inner-contents {
  text-align: center;
}
.section00 .slogun {
  position: relative;
  width: 100%;
  max-width: 1080px;
  display: inline-block;
  z-index: 10;

  color: #fff;
}
.section00 .desc {
  font-weight: 400;
  margin-top: 1.714rem;
  font-size: 1.142rem;
  line-height: 1.857rem;
}
.section00 .tit {
  font-size: 4.285rem;
  line-height: 5rem;
  font-weight: 300;
  word-break: break-all;
  font-family: "Montserrat";
}
.section00 .coin01 {
  position: absolute;
  left: 5%;
  top: 25%;
  animation: 5s bounce ease-in-out infinite alternate;
}
.section00 .coin02 {
  position: absolute;
  left: 25%;
  top: 60%;
  animation: 5s bounce ease-in-out infinite alternate;
  animation-delay: 0.5s;
}
.section00 .coin03 {
  position: absolute;
  left: 75%;
  top: 25%;
  animation: 5s bounce ease-in-out infinite alternate;
  animation-delay: 0.5s;
}
.section00 .coin04 {
  position: absolute;
  left: 87%;
  top: 45%;
  animation: 5s bounce ease-in-out infinite alternate;
  animation-delay: 0.7s;
}
.active-container .logo a {
  background: url("../../img/img_logo_active.png") 0 0 no-repeat;
  background-size: contain;
}
.active-container .section01 {
  background-color: #fff !important;
  transition: all 1s;
}
.active-container .section01 .inner-contents {
  transform: translateY(0);
  opacity: 1;
}
.active-container .section01 .section-title,
.active-container .section01 .desc {
  color: #000;
}

.section01 {
  background: url("../../img/img_vision.png") 50% 80% no-repeat;
}
.section01 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section01 .inner-contents {
  transform: translateY(200px);
  opacity: 0;
  transition: 0.5s all ease-in-out;
}
.section01 .section-menu {
  transition: all 1s;
}

.section01 .desc {
  margin-top: 4.5rem;
  font-size: 1.435rem;
  color: #fff;
  line-height: 2.2rem;
  transition: all 1s;
}

.section04 .section-inner {
  display: flex;
  align-items: flex-start;
  justify-content: baseline;
  padding-top: 10%;
}
.section02 .fp-tableCell {
  display: flex;
  align-items: flex-start;
  justify-content: baseline;
}
.section02 .inner-contents {
  padding-top: 10%;
}
.problem_box {
  position: absolute;
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s;
}
.active .problem_box {
  opacity: 1;
  transform: translateY(0);
}
.problem_box .tit {
  margin-top: 1.4rem;
  font-weight: 600;
  font-size: 1.714rem;
  line-height: 1.428rem;
}
.problem_box .desc {
  margin-top: 1.428rem;
  max-width: 18rem;
  font-size: 1.285rem;
  line-height: 2rem;
  word-break: keep-all;
}
.problem_box.box01 {
  top: 25%;
  left: 52%;
  transition-delay: 0.2s;
}
.problem_box.box02 {
  top: 48%;
  left: 36%;
  transition-delay: 0.4s;
}
.problem_box.box03 {
  top: 45%;
  left: 70%;
  transition-delay: 0.6s;
}
.problem_box.box04 {
  top: 70%;
  left: 52%;
  transition-delay: 0.8s;
}
.section03 {
  background: linear-gradient(
    359.82deg,
    #ffe8d3 0.16%,
    rgba(245, 238, 227, 0) 98.73%
  );
}
.eco_card_list {
  text-align: left;
  margin-top: 5rem;
}
.eco_card_list ul {
}
.eco_card_list ul li {
  width: 23%;
  margin: 0 1%;
  opacity: 0;
  transform: translateY(150px);
  transition: transform 1s, opacity 1s;
}
.active .eco_card_list ul li {
  opacity: 1;
  transform: translateY(0);
}
@media only screen and (max-width: 1024px) {
  .eco_card_list ul li {
    width: 46%;
    margin: 0 2% 2%;
  }
}
.eco_card_list ul li:nth-child(1) {
  transition-delay: 0.2s;
}
.eco_card_list ul li:nth-child(2) {
  transition-delay: 0.4s;
}
.eco_card_list ul li:nth-child(3) {
  transition-delay: 0.6s;
}
.eco_card_list ul li:nth-child(4) {
  transition-delay: 0.8s;
}
.eco_card_list ul li div {
  position: relative;
  height: 28.28rem;
  padding: 3rem 2rem;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
  border: 2px solid #ffffff;
  box-shadow: 1px 2px 20px rgba(228, 218, 204, 0.5);
  border-radius: 20px;
}
@media only screen and (max-width: 1024px) {
  .eco_card_list ul li div {
    min-height: 100%;
  }
}
.eco_card_list ul li div .tit {
  font-weight: 600;
  font-size: 1.714rem;
  line-height: 2.285rem;
}
.eco_card_list ul li div img {
  position: absolute;
  right: 2rem;
  bottom: 2.5rem;
  max-width: 100%;
}
@media only screen and (max-width: 1024px) {
  .eco_card_list ul li div img {
    margin-top: 2rem;
    width: 50%;
  }
}
.section04 {
  background: #f5f5f5;
}
.section04 .inner-contents {
  padding-bottom: 20rem;
}
.roadmap {
}
.roadmap .inner {
  display: flex;
  margin-top: 5.285rem;
  align-items: center;
  justify-content: center;
}

.roadmap .inner .year {
  margin-right: 8.514rem;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 9.142rem;
  line-height: 5.142rem;
  color: #f1e4dc;
}
.roadmap .inner .tit {
  font-size: 1.714rem;
  font-weight: 800;
  line-height: 1.714rem;
}
.quarter_list {
  position: relative;
  margin-top: 1rem;
  padding-top: 0.25rem;
  min-height: 9.07rem;
}
.quarter_list.none:before {
  display: none;
}
.quarter_list.short {
  min-height: 4rem;
}
.quarter_list:before {
  position: absolute;
  right: 100%;
  top: 0;
  display: block;
  width: 1px;
  height: 100%;
  background: #d9d9d9;
  content: "";
  transform: translateX(-35px);
}
.roadmap .inner.reverse {
  flex-direction: row-reverse;
}
.roadmap .inner.reverse .year {
  margin-right: 0;
  margin-left: 8.514rem;
}
.roadmap .inner.reverse .quarter_list:before {
  left: 100%;
  right: inherit;
  transform: translateX(35px);
}
.roadmap .inner.reverse .tit,
.roadmap .inner.reverse .quarter_list li {
  text-align: right;
}
.quarter_list li {
  font-size: 1.2857rem;
  line-height: 1.857rem;
  color: rgba(0, 0, 0, 0.6);
}
.quarter_list + .tit {
  margin-top: 1rem;
}
.section05 .grid {
  width: 100%;
  margin: 3.714rem auto;
  text-align: center;
}

.section05 .grid .grid-item {
  position: relative;
  width: 455px;
  height: 547px;
  padding: 5.428rem 2.428rem;
  margin: 0 2%;
  text-align: left;

  border-radius: 20px;
}
.section05 .grid .grid-item:nth-child(1) {
  background-image: url("../../img/bg_white_paper.png"),
    linear-gradient(180deg, #d9d9d9 0%, #f5e9c7 100%);
}
.section05 .grid .grid-item:nth-child(2) {
  background: linear-gradient(180deg, #fc9e61 0%, #ffd89d 100%);
}
.section05 .grid .grid-item span {
  display: inline-block;
  font-weight: 600;
  font-size: 2.285rem;
}
.section05 .grid .grid-item em {
  position: absolute;
  display: inline-block;
  right: 2.428rem;
  bottom: 3.428rem;
  font-weight: 600;
  font-size: 1.285rem;
}
.section06 {
  background: url("../../img/bg_sns.png") center bottom -40% no-repeat;
}
.section06 .pd {
  padding: 25rem 2rem;
  display: flex;
  align-items: normal;
  justify-content: center;
}

.section06 .pd > div {
  width: 50%;
}
.community_list li {
}
.community_list li + li {
  margin-top: 3.571rem;
}
.community_list li a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.community_list li a p {
  font-size: 1.285rem;
  line-height: 1.857rem;
  color: #4d4d4d;
}
.community_list li a .name {
  margin-bottom: 1rem;
  font-size: 1.428rem;
  font-weight: 700;
  line-height: 1.2rem;
  color: #000;
}
.community_list li a img {
  margin-right: 1.5rem;
}
.footer {
  padding: 9.714rem 0;
  background: #f8f5ee;
}
.footer .inner-contents {
  padding: 0 2rem;
}
.footer .inner-contents div {
  display: flex;
  justify-content: space-between;
}
.footer .inner-contents ul {
  display: flex;
}
.footer .inner-contents ul li {
  margin-left: 1.285rem;
}
.footer .inner-contents p {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.4285rem;
  color: #727272;
}
.footer .inner-contents p + p {
  margin-top: 0;
}
.footer .inner-contents .copy {
  margin-top: 0.8rem;
  color: #939393;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@media only screen and (max-width: 1280px) {
  .inner-contents {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .m-gnb-menu,
  .btn-close {
    display: block;
  }
  .section00 .tit {
    font-size: 11vw;
  }
  .section00 .desc {
    line-height: 1.4rem;
  }
  .section00 .sub_tit {
    font-size: 6vw;
  }
  .header-menu .m-gnb-menu {
    order: 3;
  }
  .active-container .header-menu .m-gnb-menu svg path {
    stroke: #000;
  }
  .gnb {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9000;
    transform: translateX(100%);
    transition: 0.5s all;
  }
  .gnb.show {
    transform: translateX(0);
  }
  .gnb ul {
    flex-direction: column;
  }
  .gnb ul li + li {
    margin-top: 10vw;
  }
  .gnb ul li a {
    position: relative;
    display: inline-block;
    font-size: 8vw;
    padding-bottom: 10px;
    line-height: 1;
  }
  .gnb ul li a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 3px;
    background: rgb(255, 121, 34);
    content: "";
    transition: 1s all;
  }
  .gnb ul li.active a:after {
    width: 100%;
  }
  .gnb .btn-close {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }
  .gnb .btn-close .mdi {
    font-size: 7vw;
  }
  .section02 .inner-contents,
  .section04 .section-inner {
    padding-top: 8rem;
  }
  .roadmap {
    position: relative;
    margin-top: 4.857rem;
    margin-left: 0.4rem;
    padding-left: 2rem;
  }
  .roadmap:before {
    position: absolute;
    right: 100%;
    top: 0.5rem;
    display: block;
    width: 1px;
    height: 100%;
    background: #d9d9d9;
    content: "";
  }
  .roadmap .inner {
    margin-top: 3.571rem;
  }
  .roadmap .inner,
  .roadmap .inner.reverse {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .roadmap .inner .year,
  .roadmap .inner.reverse .year {
    font-size: 7vw;
    margin-right: 15vw;
    margin-left: inherit;
  }
  .roadmap .inner.reverse {
    flex-direction: row;
  }
  .roadmap .inner .quarter_list {
    min-height: inherit;
  }
  .roadmap .inner .list > li + li {
    margin-top: 3.571rem;
  }
  .roadmap .inner .list > li {
    position: relative;
  }

  .roadmap .inner .list > li:before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 8px;
    height: 8px;
    background: #d9d9d9;
    content: "";
    border-radius: 100%;
    margin-left: calc(-2rem - 4px);
    margin-top: 0.5rem;
  }
  .roadmap .inner .year {
    display: none;
  }
  .roadmap .inner .quarter_list {
    margin-top: 0.8rem;
  }
  .roadmap .inner .quarter_list:before {
    display: none;
  }
  .roadmap .inner.reverse .quarter_list:before {
    left: inherit;
    right: 100%;
    transform: translateX(-7vw);
  }
  .roadmap .inner.reverse .tit,
  .roadmap .inner.reverse .quarter_list li {
    text-align: left;
  }
  .section02 .fp-tableCell,
  .section02 .fp-scrollable {
    width: 100%;
  }
  .section02 .inner-contents {
    padding-bottom: 10rem;
  }
  .quarter_list:before {
    transform: translateX(-7vw);
  }
  .problem_box {
    position: relative;
    margin-top: 3.142rem;
  }
  .problem_box.box01 {
    margin-top: 5rem;
  }
  .problem_box.box01,
  .problem_box.box02,
  .problem_box.box03,
  .problem_box.box04 {
    left: inherit;
    top: inherit;
  }
  .problem_box .tit {
    font-size: 5vw;
    line-height: 1.2;
  }
  .problem_box .desc {
    margin-top: 1rem;
    font-size: 4vw;
    line-height: 1.5;
    max-width: 80%;
  }
  .shape01 {
    width: 1500px;
    transform: translate(-50%, -40%);
  }
  .shape02 {
    bottom: 30%;
  }
  .section00 .coin01 {
    top: 15%;
  }
  .section00 .coin02 {
    top: 72%;
    left: 20%;
  }
  .section00 .coin03 {
    top: 25%;
    left: 65%;
  }
  .section00 .coin04 {
    top: 57%;
    left: 75%;
  }
  .section03 .inner-contents,
  .section05 .inner-contents {
    padding: 8rem 2rem;
  }
  .section05 .grid {
    width: 100% !important;
  }
  .section05 .grid .grid-item {
    width: 46%;
    height: 50vw;
  }
  .section06 {
  }
  .section06 .pd {
    flex-direction: column;
  }
  .section06 .pd > div {
    width: 100%;
  }
  .section06 .pd > div + div {
    margin-top: 5rem;
  }
  .community_list li img {
    width: 6vw;
  }
}
@media only screen and (max-width: 640px) {
  .section03 .inner-contents .grid-item {
    width: 100%;
    margin: 1rem 0;
  }
  .eco_card_list ul li div {
    height: 50vw;
  }
  .eco_card_list ul li div img {
    width: 20vw;
  }
  .section05 .grid .grid-item {
    width: 100%;
    margin: 0;
    height: 80vw;
  }
  .section05 .grid .grid-item + .grid-item {
    margin-top: 2rem;
  }
}
.section {
  position: relative;
}
.dot {
  position: absolute;
  left: 50%;
  width: 5px;
  height: 5px;
  margin: -2px 0 0 -2px;
  background: #fff;
  border-radius: 100%;
  z-index: 1000;
  transition: 1s top;
}
.line {
  position: absolute;
  left: 50%;
  display: block;
  width: 1px;
  height: 173px;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  transform: rotate(180deg);
  margin-top: -173px;
  transition: 1s top;
  opacity: 0;
}
.section00 .dot {
  top: 80%;
  opacity: 1;
}
.section00 .line {
  top: 80%;
}
.fp-viewing-firstPage .section00.active.fp-completely .line {
  animation: 2s showingLine forwards;
  animation-delay: 1s;
}
.fp-viewing-secondPage .section00 .dot {
  top: 100%;
}
.fp-viewing-secondPage .section00 .line {
  opacity: 1;
  transition-delay: 0.2s;
  top: 100%;
}

.section01 .dot {
  top: 0;
  opacity: 0;
}
.section01 .line {
  margin-top: 0;
  top: 0;
  opacity: 0;
}
.active-container .section01 .dot {
  top: 30%;
  opacity: 1;
}
.active-container .section01 .line {
  top: 30%;
  opacity: 1;
  transition-delay: 0.2s;
  animation: 0.5s initLine;
  animation-delay: 1s;
  transform-origin: top;
  animation-fill-mode: forwards;
}
.fp-viewing-firstPage .section01 .dot {
  top: 0;
}

.fp-viewing-firstPage.active-container .section00 .dot {
  top: 100%;
  opacity: 0;
}
@keyframes initLine {
  0% {
    height: 173px;
  }

  100% {
    height: 0;
  }
}
@keyframes showingLine {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
